@{
	ViewData["Title"] = "Index";
}
@model List<AdminModel.RoleViewModel>
<div class="row">
	<div class="col-md-6 offset-md-2">
		<h2>Roller</h2>
	</div>

	<div class="col-md-2">
		<a class="btn btn-primary" asp-controller="Roles" asp-action="RoleCreate" asp-area="Admin"> Rol Ekle</a>

	</div>
</div>
<div class="row">
	<div class="col-md-6 offset-md-2">
		@if (TempData["SuccessMessage"] != null)
		{
			<div class="alert alert-info" role="alert">
				@TempData["SuccessMessage"]
			</div>
		}
	</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Role Ismi</th>
			<th></th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td class="">
					<a asp-area="Admin" asp-controller="Roles" asp-action="RoleUpdate"
					   asp-route-id="@item.Id" class="btn btn-primary">Role Guncelle</a>
					<a asp-area="Admin" asp-controller="Roles" asp-action="RoleToDelete"
					   asp-route-id="@item.Id" class="btn btn-primary my-2">Role Sil</a>
				</td>
			</tr>

		}
	</tbody>
</table>